/* Main */
body {
	font-family: "Segoe UI";
}

table {
	width: 100%;
	margin: 0 auto 25px;
	border-collapse: collapse;
	text-align: center;
}

th {
	font-weight: normal;
}

td {
	width: inherit;
	border: 1px solid #eee;
}

.chart {
	width: 150px;
}

#tChart1, #tChart2, #tChart3 {
	width: 25px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
}